html *
{
   font-size: 20px !important;
   color: #000 !important;
   font-family: 'Poiret One', cursive !important;
}

body {
    background-image: url("cat.jpeg");
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}
