

#show-contact{
  display: none;
}

.contact{
  cursor: pointer;
  color: red;
}

.contact:hover{
  text-decoration: underline;
}

.weird-gif {
  display: none;
}

body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.column {
  border: 2px solid #E1E1E1;
  padding: 20px;
  border-radius: 5px;
}
.movie-column {
  display: none;
  border: none;
  }
.header {
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
}

.row h5 {
  text-align: center;
}

.final-ticket {
  text-align: center;
}

.movie-column img {
  display: block;
  margin: auto;
  border: 2px solid #E1E1E1;
  padding: 20px;
  border-radius: 5px;
  }
